
/*
 * @todo Needs to comply with WP CSS coding standards
 */

#wpadminbar #adminbarsearch .admin-search-autocomplete ul.open {
	background: #fff;
	border: 1px solid #ccc;
	color: #333;
	max-height: 300px;
	overflow-y: scroll;
}
#wpadminbar #adminbarsearch .admin-search-autocomplete li {
	border-bottom: 1px solid #ccc;
	float: none;
	padding: 0 0 5px 10px;
}

/* Search Results Highlight Styles */

#adminmenu .admin-search-result,
#adminmenu .wp-submenu .admin-search-result {
	color: #333;
}

.highlighted,
#adminmenu .admin-search-result.h1,
#adminmenu .admin-search-result.h2,
#adminmenu .admin-search-result.h3 {
	background: #e97721;
}

#adminmenu .admin-search-result.h4,
#adminmenu .admin-search-result.h5,
#adminmenu .admin-search-result.h6 {
	background: #ed914b;
}

#adminmenu .admin-search-result.th,
#adminmenu .admin-search-result.label {
	background: #f1a56c;
}

#adminmenu .admin-search-result.td,
#adminmenu .admin-search-result.a,
#adminmenu .admin-search-result.strong,
#adminmenu .admin-search-result.em {
	background: #f5c39d;
}

#adminmenu .admin-search-result.div,
#adminmenu .admin-search-result.p,
#adminmenu .admin-search-result.span {
	background: #f9d9c0;
}

/* Progress Bar */
#admin-search-progress-bar {
	height: 2px;
}



